body {
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: visible !important;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* .App {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  padding: 30px;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
}

.ant-modal-footer {
  text-align: left;
}



.menu {
  height: 60px;  
}

.ant-btn {
  margin-right: 20px;
}

.ant-tabs-tabpane {
  /* display: grid;
  grid-gap: 20px; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
   */

   display: flex;
   flex-wrap: wrap;

}

.ant-card {
  min-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.ant-card-body span {
  margin-right: 15px;
}





.minus {
  color: red;
  font-weight: 700;
}

.ant-alert-error {
  width: 100%;
}

.heading {
  margin-top: 30px;
}

.addbtn {
  height: 85px;
  width: 300px;
  background-color: white;
  color: black;
}